version: "3.9"

services:
  db:
    image: postgres:15
    container_name: auth_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: go_auth_service
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    command: ["./app"]

volumes:
  db_data:
